<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>계정 관리</title>
  </head>
  <body>
    <h1>계정 관리</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <script>
        alert("{{ messages[-1] }}");
      </script>
      {% endif %}
    {% endwith %}
    <h2>계좌 정보</h2>
    <p>잔액(단위:Won): {{ balance }}</p>
    <form method="POST" action="{{ url_for('deposit') }}">
      <label for="deposit_amount">입금할 금액(단위:Won):</label>
      <input type="number" name="deposit_amount" id="deposit_amount" required min="1" pattern="\d+">
      <input type="submit" value="입금">
    </form>
    <form method="POST" action="{{ url_for('withdraw') }}">
      <label for="withdraw_amount">출금할 금액(단위:Won):</label>
      <input type="number" name="withdraw_amount" id="withdraw_amount" required min="1" pattern="\d+">
      <input type="submit" value="출금">
    </form>
    <h2>보유 코인</h2>
    <p>{{ coin }}</p>
    <h2>판매 중인 코인</h2>
    <p>{{ selling_coin }}</p>
    <form method="POST" action="{{ url_for('delete_account') }}">
      <input type="submit" value="회원 탈퇴">
    </form>
    <form method="POST" action="{{ url_for('logout') }}">
      <input type="submit" value="로그 아웃">
    </form>
  </body>
</html>
