<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var coinData = {{ coin_prices | safe }};
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Time');
        data.addColumn('number', 'Price');

        // 최근 12개 데이터만 가져오기
        var startIndex = Math.max(0, coinData.length - 12);

        for (var i = startIndex; i < coinData.length; i++) {
          var row = coinData[i];
          var timestamp = new Date(row[0]);

          // 시간 문자열 생성
          var timeString = timestamp.toLocaleString('en-US', {
            month: 'numeric',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric'
          });

          var price = parseFloat(row[1]);

          data.addRow([timeString, price]);
        }

        var options = {
          title: '코인 가격',
          curveType: 'none',
          legend: { position: 'bottom' },
          hAxis: {
            title: '시간',
          }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <h1>로그인</h1>
    {% if login %}
    <form method="POST" action="{{ url_for('logout') }}">
      <input type="submit" value="로그 아웃">
    </form>
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <script>
        alert("{{ messages[-1] }}");
      </script>
      {% endif %}
    {% endwith %}
    {% if login %}
      <a href="account">계정 관리</a> <a href="board">매매 게시판</a>
    {% endif %}
    {% if not login %}
    <form method="POST">
      <label for="username">사용자 이름:</label>
      <input type="text" id="username" name="username"><br>
      <label for="password">비밀번호:</label>
      <input type="password" id="password" name="password"><br>
      <input type="submit" value="로그인">
    </form>
    {% endif %}

    <div id="chart_div" style="width: 100%; height: 400px;"></div>
    {% if register %}
      <p>아직 회원이 아니신가요? <a href="{{ url_for('register') }}">회원 가입</a></p>
    {% endif %}

  </body>
</html>
